// your workflow parameters
params {
  inputFile  = "testdata/1r46_centered.pdb"
  inputPDB  = 'testdata/data_sup/*.pdb'
  inputCEN  = 'testdata/centered/*.pdb'
  inputCENSPT  = 'testdata/centered/wildtype_center_box.pdb'
  inputWT  = 'testdata/data_WT/wt.pdb'
  resultsDir = "./results"
  inputCsv = "testdata/mut_list.csv"
  inputtraj = "./results_2024-11-27/*traj1.pdb"
  inputrmsfA = "./results-4.0pH_2024-08-23/openmm-md/*rmsf_chA*"
  inputrmsfB = "./results-4.0pH_2024-08-23/openmm-md/*rmsf_chB*"
  find_mut.maker.args = "--pH 7.4"
  pdb.maker.args = "--steps 5000000 --report_every 2000 --init_steps 500000 --relax_steps 24500000 --relax_report_every 200000"
  pH_values = ['4.0', '7.4']
}
// include basic process configuration options
includeConfig 'conf/base.config' 
